<!DOCTYPE html>
{% extends 'firstapp/index.html' %}

{% block contents %}

<div class="container">
    <H2>게시판</H2>
    <div>
        <a href="{% url 'board:board_write' %}">
        <button type="button" class="btn btn-outline-dark">글쓰기</button></a>
    </div>
    <div class="row border-top border-bottom py-2">
        <div class="col-3">작성자</div>
        <div class="col-6">제목</div>
        <div class="col-3">작성일</div>
    </div>

    {% for board in board_list %}
    <div class="row py-2">
        <div class="col-3">{{ board.writer }}</div>
        <div class="col-6">
            <a href="/board/detail/{{ board.pk }}/" class="text-dark">{{ board.title }}</a>
        </div>
        <div class="col-3">{{ board.write_dttm|date:"Y-m-d" }}</div>
    </div>
    {% endfor %}
</div>
</html>
{% include 'board/pagination.html' %}
{% endblock contents %}