<!-- pagination -->
<div class="page_main">
    <ul class="page">

        <!-- 첫 페이지로 이동 -->
        <li><a class="" href="?page=1"></a></li>

        <!-- 이전 페이지묶음으로 이동 아이콘 -->
        {% if active_previous_page_chunk %}
        <li><a href="?page={{ previous_page_chunk }}"><span></span></a></li>
        {% else %}
        <li class="page_move"><a href="#"><span></span></a></li>
        {% endif %}

        <!-- 페이지 숫자 -->
        {% for key, value in display_page.items %}
        {% if value %}
        {% if value == now_page %}
        <li class="page_move"><span>{{ value }}</span></li>
        {% else %}
        <li><a href="?page={{ value }}">{{ value }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}

        <!-- 다음 페이지묶음으로 이동 아이콘 -->
        {% if active_next_page_chunk %}
        <li><a href="?page={{ next_page_chunk }}"><span></span></a></li>
        {% else %}
        <li class="page_move"><a href="#"><span></span></a></li>
        {% endif %}

        <!-- 마지막 페이지로 이동 -->
        <li><a class="page_last" href="?page={{ end_page }}"></a></li>
    </ul>
</div>