<!DOCTYPE html>
<html lang="kr">
<head>
    <link rel="stylesheet" href="../../../static/css/uikit.min.css" />
    <script src="../../../static/js/uikit.min.js"></script>
    <script src="../../../static/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO_DO_page!</title>
</head>
<body class="main_body">
    <h1 class="main_name">TODO_LIST</h1>
    <a href="{% url 'todo_main:main_page' %}"><button>홈으로</button></a>
    <a href="{% url 'board:board_list' %}"><button>게시판</button></a>

    {% if login_session %}
    <a href="{% url 'user:logout' %}"><button>로그아웃</button></a>
    {% else %}
    <a href="{% url 'user:login' %}"><button>로그인</button></a>
    <a href="{% url 'user:register' %}"><button>회원가입</button></a>
    {% endif %}

    <div style="border: 1px black solid; margin: 20px 0px;"></div>
    {% block contents %}
    {% endblock contents %}
</body>
<style>
    .main_body{
        background-color: palegoldenrod;
        text-align: center;
    }
    .main_name {
        height: 100px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center
    }
</style>
</html>