{% extends 'firstapp/index.html' %}

{% block contents %}

<body>
    <div class="">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="">
                <input type="text">
                <span>
                <button class="=" type="submit">메모하기!</button>
                </span>
            </div>
        </form>
        {% for Item in Items %}
        <form action="" method="GET">
            <div class="">
                <li class="">{{ Item.todo_content }}</li>
                <input type="hidden" value="{{ Item.id }}"></input>
                <span>
                    <button type="submit">할일 완료</button>
                </span>
                {% if error %}
                {{ error }}
                {% endif %}
            </div>
        </form>
        {% endfor %}
    </div>
</body>
</html>
{% endblock contents %}