<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>TO_DO_page!</title>
</head>
<body>
    <div class="">
            <div class="">
                <h1>To-do List</h1>
            </div>
        <div class="">
            <div class="">
                <form action="" method="POST"> {% csrf_token %}
                    <div class="">
                        <input type="text" placeholder="메모할 내용을 적어주세요"><button class="=" type="submit">메모하기!</button>
                    </div>
                </form>
            </div>

            <div class="">
                <form action="" method="GET">
                    <div class="">
                        <li class="">메모한 내용은 여기에 기록될 거에요</li>
                        <input type="text" placeholder="메모한 내용은 여기에"><button type="submit" class="">완료</button></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>